<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>网抑云音乐-Nevesettle</title>
		<link rel="stylesheet" type="text/css" href="css/cloudMusic.css">
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- 官网提供的 axios 在线地址 -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body background="img/bg.jpg">
		
		<div class="content"> 
			
			<div class="mainContent" id="app">
				
				<!-- 头部的区域 -->
				<div class="top">
					<span>网抑云音乐</span>
					<input type="text" v-model="musicName" placeholder="输入歌曲名称" @keyup.enter="seachMusic" style="margin-left: 300px;" class="searchInput" />
					<button type="button" class="searchBtn"></button>
					<span style="font-size: smaller;float: right;margin-right: 20px;">懂你的音乐</span>
				</div>
				
				<!-- 中间的部分 -->
				<div class="mainShow">
					
					<!-- 左侧的歌单区域  -->
					<div class="musicListDiv">
						<div style="text-align: center;padding-top: 5px;">
							<span style="font-size: small;">歌曲列表</span>
						</div>
						<hr />
						<!-- 歌单列表 -->
						<div>
							<div v-for="(item,index) in musicList" class="music" :class="{color:index%2==0}" :title="item.artists[0].name"  @click="playMusic(item.id)">
								{{index+1}}. {{ item.name }}
								<div style="float: right; margin-top: 1px;margin-right: 15px;">
									<img src="img/mv.png" v-show="item.mvid != 0" width="15px" height="15px" style="margin-right: 5px;" />
									<img src="img/play.png" width="15px" height="15px"  @click="playMusic(item.id)" />
								</div>
							</div>
						</div>
					</div>
					
					<!-- 中间隔断 -->
					<div class="line">
						<img src="./img/line.png" width="1%" height="100%" />
					</div>
					
					<!-- 中间播放区域 -->
					<div class="musicPicDiv" align="center">
						<img src="img/disc.png" width="100px" height="100px" class="disc"/>
						<img :src="musicPicUrl" width="60px" height="60px"  class="musicPic"/>
					</div>
					
					<!-- 中间隔断 -->
					<div class="line">
						<img src="./img/line.png" width="1%" height="100%" />
					</div>
					
					<!-- 右侧评论 -->
					<div class="commentsDiv">
						<!-- 评论列表 -->
						<div v-for="comment in commentsList"  class="comments">
							<div>
								<img :src="comment.user.avatarUrl" width="20px" height="20px"  style="border-radius: 20px;margin-top: 5px;" />
								<span>{{comment.user.nickname}}</span>
								<hr />
								{{comment.content}}
							</div>
						</div>
					</div>
					
				</div>
				
				
				<!-- 底部播放区域 -->
				<div class="musicPlay">
					<audio autoplay="autoplay" :src="musicUrl" ref="audio" loop="loop" controls="" class="audioStyle"></audio>
				</div>
				

				
				
			</div>
			
		</div>
		

		<script src="js/cloudMusic.js"></script>

	</body>
</html>
